<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Current Result</title>
        <meta name="description" content="DESCRIPTION">
    </head>
    <body>
        <h1>CURRENT RESULT</h1>
        <table border="1">
            <tbody>
                <tr>
                    <th>Division Code</th>
                    <th>Actual</th>
                    <th>Planned</th>
                </tr>
                {% for result in results %}
                <tr>
                    <td>{{result.div_code}}</td>
                    <td>{{result.actual}}</td>
                    <td>{{result.planned}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>